#left_logo {
  left:-8.33%;
  text-align: left;
  float: left;
  width:20%;
  z-index:-10;
}

#left_5050 {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right_505 {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}
