.code {
    font-family: monospace;
    background-color: #f8f8f8;
    color: #333;
    border-style: solid;
    border-color: #999;
    border-width: 1px;
    padding: 1em;
}

#cy1 {
    background-color: white;
      width: 100%;
      height: 400px;
      top: 0px;
      left: 0px;
      z-index: 0;
      letter-spacing: 1px; 
      border-style: solid;
      border-color: #999;
      border-width: 1px;

  }

  #cy2 {
    background-color: white;
      width: 100%;
      height: 400px;
      top: 0px;
      left: 0px;
      z-index: 0;
      letter-spacing: 1px;
      border-style: solid;
      border-color: #999;
      border-width: 1px;
  }